@charset "utf-8";

@import "normalize";
@import "variables";
@import "mixins";

$color-dark-blue : #1a2946;
$color-blue      : #1a2946;
$color-light-blue: #3e445e;
$color-white     : #fff;
$color-off-white : #ebecde;
$color-yellow    : #ba9b5b;
$color-pink      : #f16767;
$font-sans-serif : -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-accent     : "Didact Gothic" $font-sans-serif;
$frame-offset    : 10px;


* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

::selection {
  background-color: rgba($color-dark-blue, .4);
}

::-moz-selection {
  background-color: rgba($color-dark-blue, .4);
}

::-webkit-scrollbar {
  width: 8px;
  background: darken(#fff, 10%);
  z-index: 10;

  &:horizontal {
    height: 4px;
  }

  @include mq-extra-small {
    width: 2px;
  }
}

::-webkit-scrollbar-track {
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: darken(#fff, 30%);
}

html.p-top {
  &,
  body {
    &::before,
    &::after {
      @include fixed(null, null, null, null, 8000);
      display: block;
      background: $color-white;
      content: "";
    }
  }

  &::before,
  &::after {
    right: $frame-offset;
    left: $frame-offset;
    height: 1px;
  }

  &::before {
    top: $frame-offset;
  }

  &::after {
    bottom: $frame-offset;
  }

  @include mq-extra-small {
    &::before,
    &::after {
      right: $frame-offset / 2;
      left: $frame-offset / 2;
    }

    &::before {
      top: $frame-offset / 2;
    }

    &::after {
      bottom: $frame-offset / 2;
    }
  }

  body {
    &::before,
    &::after {
      top: $frame-offset;
      bottom: $frame-offset;
      width: 1px;
    }

    &::before {
      left: $frame-offset;
    }

    &::after {
      right: $frame-offset;
    }

    @include mq-extra-small {
      &::before,
      &::after {
        top: $frame-offset / 2;
        bottom: $frame-offset / 2;
      }

      &::before {
        left: $frame-offset / 2;
      }

      &::after {
        right: $frame-offset / 2;
      }
    }
  }
}

html {
  color: $color-dark-blue;
  font-size: 18px;
  font-family: $font-sans-serif;
  line-height: 1.7;

  @include mq-extra-small {
    font-size: 14px;
  }
}

body {
  min-width: 320px;
  background: $color-off-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: glayscale;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: all 180ms ease-out;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

pre {
  display: block;
  margin: 1rem 0;
  font-size: .66rem;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.6;
  text-align: left;

  code,
  .hljs {
    padding: 1em;
    overflow-x: auto;
    border-radius: 3px;
    background: #4a4c4d;
    word-wrap: auto;
    white-space: pre;
    font-family: inherit;
    -webkit-overflow-scrolling: touch;
    color: #fff;
  }

  @include mq-extra-small {
    font-size: .88rem;
  }
}

select {
  display: block;
  width: 100%;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: .2rem 1rem;
  background: $color-white;
  border: 1px solid darken(#fff, 10%);
  border-radius: 0;
  font-size: 1rem;

  &:focus {
    outline: none;
  }
}


.github-corner {
  @include absolute(0, 0, null, null, 9999);
  border: 0;
  fill: $color-pink;
  color: $color-dark-blue;
}

.btn {
  display: inline-block;
  padding: .8em 1.4em;
  background: transparent;
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  transition: all 180ms ease-out;
  user-select: none;
  font-weight: bold;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  [class*="icon-"] {
    font-size: 1.2em;
    vertical-align: middle;
  }

  &--ghost {
    border: 1px solid $color-pink;
    color: $color-pink;

    &:hover {
      background: $color-pink;
      color: $color-white;
    }
  }
}

.copyright,
.license {
  @include fixed(50%, null, null, null, 9999);
  margin: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 10px;
  writing-mode: vertical-lr;
}

.copyright {
  left: 20px;

  @include mq-extra-small {
    left: 8px;
  }
}

.license {
  right: 20px;

  @include mq-extra-small {
    right: 8px;
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 500px;
  background: $color-dark-blue;
  color: $color-light-blue;
  text-align: center;

  &__logo {
    margin: 0 0 20px;
  }

  &__lead {
    margin: 0 0 50px;
    font-size: .88em;
  }

  &__buttons {
    text-align: center;

    > *:not(:first-child) {
      margin-left: .5em;
    }
  }

  &__scroll {
    @extend .btn;
    @include absolute(null, null, 40px, 50%, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-left: -25px;
    background: rgba(#fff, .1);
    color: #fff;
    font-size: 10px;

    &:hover {
      background: $color-pink;
    }

    i {
      font-size: 16px;
    }

    span {
      display: block;
      margin: 4px 0 0;
    }
  }

  @include mq-medium {
    &__logo img {
      width: 280px;
    }
  }

  @include mq-extra-small {
    &__logo img {
      width: 200px;
    }
  }
}

.container {
  width: 1060px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;

  @include mq-extra-small {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.section {
  min-height: 90vh;
  padding: 100px 0;

  &__container {
    display: flex;
  }

  &__header {
    flex: 1 0 38%;
    padding: 0 40px 0 0;
  }

  &__body {
    flex: 0 1 62%;
    overflow: hidden;

    > * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      margin: 2.7em 0 .6em;
      font-size: 1.22rem;
      font-weight: bold;
    }
  }

  &__title {
    margin: 0 0 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.2;

    &::after {
      display: block;
      width: 70px;
      height: 5px;
      margin: 15px 0 0;
      background: $color-dark-blue;
      content: "";
    }
  }

  &__lead {
    margin: 0;
    font-size: .77rem;
  }

  &--dark {
    color: $color-white;

    .section__title::after {
      background: $color-white;
    }
  }

  @include mq-small {
    &__container {
      display: block;
    }

    &__header {
      margin: 0 0 40px;
      padding: 0;
    }
  }

  @include mq-extra-small {
    padding: 80px 0;
  }
}

.list {
  &--inline {
    margin-left: -1rem;
    padding: 0;
    list-style: none;
    font-size: 0;

    li {
      display: inline-block;
      margin-left: 1rem;
      font-size: 1rem;
    }
  }

  &--check {
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 30px;

      [class*="icon-"] {
        margin-right: .2em;
        margin-left: .2em;
        opacity: .4;
      }

      &::before {
        @include absolute(.2em, null, null, 0);
        @include icomoon;
        font-size: 1.2em;
        opacity: .4;
        content: "\e5ca";
      }

      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }
}

.thumbnail-list {
  margin: 0 -15px;
  padding: 0;
  font-size: 0;

  &__item {
    display: inline-block;
    width: 50%;
    margin: 0 0 30px;
    padding: 0 15px;
    font-size: 1rem;
    vertical-align: bottom;
  }

  @include mq-extra-small {
    margin-right: -10px;
    margin-left: -10px;

    &__item {
      margin-bottom: 20px;
      padding: 0 10px;
    }
  }
}

.thumbnail {
  text-decoration: none;

  &__title,
  &__image {
    transition: all 120ms ease-out;
  }

  &__title {
    margin: 0 0 .2em;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
  }

  &__image {
    border: 1px solid darken($color-off-white, 10%);
    transform: scale(1);
  }

  &:hover &__title {
    color: $color-pink;
  }

  &:hover &__image {
    transform: scale(.98);
  }
}

.header {
  $height: 50px;

  @include fixed(0, 0, null, 0, 10000);
  height: $height;
  overflow: hidden;
  background: $color-dark-blue;
  color: $color-white;
  line-height: 1;

  &__back,
  &__code {
    @extend .btn;
    display: block;
    min-width: 100px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem;
    line-height: $height;

    &:hover {
      background: darken($color-dark-blue, 5%);
    }

    [class*="icon-"] {
      vertical-align: text-bottom;
    }

    span {
      margin-left: 5px;
      font-weight: bold;
    }
  }

  &__back {
    float: left;
  }

  &__code {
    float: right;
  }

  &__logo {
    @include absolute(50%, null, null, 50%);
    margin: -16px 0 0 -16px;
  }
}

.footer {
  padding: 50px 0;
  background: $color-dark-blue;
  color: $color-white;
  font-weight: bold;
  text-align: center;

  &__logo {
    margin: 0 0 15px;

    img {
      transform: scale(1);
      transition: all 120ms ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__made-by {
    margin: 0;
  }

  @include mq-extra-small {
    &__logo {
      img {
        width: 40px;
      }
    }
  }
}

.quick-mode {
  @include fixed(null, 30px, 30px, null, 1000);
  padding: 10px;
  user-select: none;

  input {
    @include absolute(-9999px);
    visibility: hidden;
  }

  &__label {
    display: block;
    margin: 0 0 5px;
    color: #fff;
    font-weight: bold;
    font-size: .75rem;
    text-align: center;
  }

  &__control {
    $size: 40px;
    display: block;
    position: relative;
    width: $size * 2;
    height: $size;
    padding: 2px;
    background: #ddd;
    border-radius: $size;
    cursor: pointer;

    &::before,
    &::after {
      display: block;
      transition: all 120ms ease-out;
      content: "";
    }

    &::before {
      @include absolute(2px, 2px, 2px, 2px);
      background: #fff;
      border-radius: $size;
    }

    &::after {
      @include absolute(4px, null, 4px, 4px);
      width: $size - (4 * 2);
      background: #ddd;
      border-radius: $size - (4 * 2);
    }

    input:checked + & {
      background-color: $color-yellow;

      &::after {
        transform: translateX($size);
        background-color: $color-yellow;
      }
    }
  }

  @include mq-small {
    right: 10px;
    bottom: 10px;
  }
}

#install {
  background-color: $color-yellow;
}

#options {
  background-color: $color-pink;
}

.demo-content {
  border-top: 1px solid #ccc;
}

#wrapper {
  @include absolute(0, 0, 0, 0, 1);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.controller {
  @include fixed(null, null, 40px, 50%, 100);
  width: 150px;
  height: 150px;
  margin-left: -75px;
  font-size: 0;

  .btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-top-width: 0;
    border-right-width: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 50px;

    &:nth-child(-n+3) {
      border-top-width: 1px;
    }

    &:nth-child(3n) {
      border-right-width: 1px;
    }
  }
}
