@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Courgette);
@import "normalize";

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  border: 0;
  fill: #151513;
  color: #fff;
}

html {
  font-size: 18px;
  font-family: "Courgette", Avenir, "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, cursive, sans-serif;
}

body {
  min-width: 320px;
}



//
// header {
//   padding: 5rem;
//   text-align: center;
//   h1 {
//     margin: 0 0 2rem 0;
//   }
//   ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//   }
// }
//
// footer {
//   padding: 5rem 0;
//   text-align: center;
// }
//
// section {
//   position: relative;
//   height: 100vh;
//   text-align: center;
//   h2 {
//     margin: 0;
//     padding: 0;
//     font-size: 2rem;
//   }
//   a {
//     font-size: .9rem;
//   }
// }
