@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import "normalize";

$color-primary: #b84045;
$color-secondary: #c3b144;

.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  border: 0;
  fill: #151513;
  color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  color: #333;
  font-size: 16px;
  font-family: "Roboto Slab", Avenir, "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, cursive, sans-serif;
  line-height: 1.6;
}

body {
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: glayscale;
}

a {
  color: $color-secondary;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  display: block;
  max-width: 600px;
  margin: 1rem auto;
  border-radius: 3px;
  font-size: .9em;
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  line-height: 1.6;
  text-align: left;
  code,
  .hljs {
    padding: 1em;
    overflow-x: auto;
    background: rgba(29, 31, 33, .8);
    word-wrap: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    color: #fff;
  }
}

code {
  display: inline-block;
  margin-right: .1em;
  margin-left: .1em;
  padding: .05em .2em;
  background: lighten($color-secondary, 20%);
  border-radius: 3px;
  font-size: .98em;
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

select {
  display: block;
  width: 100%;
  max-width: 600px;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  padding: .5rem 1rem;
  background: transparent;
  border: 1px solid #333;
  border-radius: 0;
  font-size: 1rem;
  line-height: 45px;
  &:focus {
    outline: none;
  }
}

::selection {
  background-color: $color-secondary;
}

::-moz-selection {
  background-color: $color-secondary;
}

.btn {
  display: inline-block;
  padding: .85rem 1.2rem;
  background: transparent;
  border: 1px solid $color-primary;
  border-radius: 3px;
  color: $color-primary;
  font-size: .87rem;
  text-decoration: none;
  text-align: center;
  line-height: 1.2;
  cursor: pointer;
  user-select: none;
  transition: all .15s ease-out;
  &:focus {
    outline: none;
  }
  &:hover {
    background: $color-primary;
    color: #fff;
  }
}


.list-inline {
  padding: 0;
  font-size: 0;
  list-style: none;
  > li {
    display: inline-block;
    margin-right: .5rem;
    margin-left: .5rem;
    font-size: 1rem;
  }
}


.page-top {
  @extend .btn;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border-width: 0;
  color: inherit;
  &:hover {
    background: transparent;
    color: inherit;
  }
}

#header {
  display: table;
  width: 100%;
  height: 95vh;
  padding: 1rem;
  text-align: center;
  h1 {
    margin: 0 0 1rem 0;
  }
  p {
    margin: 1.5em 0;
    span {
      color: $color-primary;
    }
  }
  > div {
    display: table-cell;
    vertical-align: middle;
  }
  .arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #333;
    line-height: 40px;
    font-size: 1rem;
  }
}

#demo-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  min-width: 320px;
  height: 50px;
  background: $color-primary;
  a {
    @extend .btn;
    display: block;
    height: 50px;
    margin: 0;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 50px;
    color: #fff;
    background: transparent;
    &:hover {
      color: #fff;
      background: darken($color-primary, 10%);
    }
  }
  > a {
    float: left;
  }
  > ul {
    float: right;
    list-style: none;
    font-size: 0;
    li {
      display: inline-block;
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    > ul span {
      display: none;
    }
  }
}

section {
  position: relative;
  padding: 8rem 2rem;
  text-align: center;
  h1,
  h2,
  h3 {
    font-weight: normal;
    line-height: 1.2;
  }
  h1 {
    margin: 0 0 .5em 0;
    font-size: 3.2rem;
  }
  h2 {
    margin: 0 0 .7em 0;
    font-size: 3rem;
  }
  h3 {
    margin: 2em 0 .6em 0;
    font-size: 1.4rem;
  }
}


#features {
  background: $color-primary;
  color: #fff;
  ul {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
  }
}

#install {
}

#example {
  background: $color-secondary;
}

#footer {
  text-align: center;
  padding: 4rem 2rem;
  background: #e5e5e5;
  font-size: .9rem;
  p {
    margin: 0;
    span {
      color: $color-primary;
    }
  }
}
